<h1> @ViewData["titulo"]</h1>
<h6>@ViewBag.DataHora</h6>   
<form method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo Interno</label>
            <input type="text" class="form-control" id="tituloInterno" placeholder="Nome interno do curso">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo de Marketing</label>
            <input type="text" class="form-control" id="tituloMarketing" placeholder="Nome de Marketing">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
            <textarea class="form-control" id="Descricao" rows="3" placeholder="Descrição do curso"></textarea>
        </div>
        <button type="button" class="btn btn-primary btn-lg" type="submit">Registra Curso</button>
    </form>