@{
    ViewData["Title"] = "Cursos";
    var cursos = ViewData["cursos"] as List<Curso>;
}

<div class="text-center">
    <h1 class="display-4">Cursos</h1>
    <p>Desenvolvedor C# - Senai</p>
</div>

<div class="container">
<div class="row">

@{
    var i=1;
    foreach(Curso curso in cursos){
    if (i==1 || i%3 == 0){
       <div class="row">;
    }
      <div class="col">
         <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">@curso.TituloInterno</div>
             <div class="card-body">
               <h5 class="card-title">@curso.TituloMarketing</h5>
               <p class="card-text">@curso.Descricao</p>
            </div>
         </div>
      </div> 
    }
}
</div>


  <div class="container">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>

    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>