@{
    ViewData["Title"] = "Cursos";
    var cursos = ViewData["cursos"] as List<Curso>;
}

<div class="text-center">
    <h1 class="display-4">Cursos</h1>
    <p>Desenvolvedor C# - Senai</p>
</div>

<div class="container">




@{
 var size = 3;
 var subListaCursos = cursos.Select((x, i) => new { Index = i, Value = x })
                            .GroupBy(x => x.Index / size)
                            .Select(x => x.Select(v => v.Value).ToList())
                            .ToList();

  foreach(var sublista in subListaCursos){
    <div class="row">
      @foreach(Curso curso in sublista)
      {
        <div class="col">
              <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">@curso.TituloInterno</div>
                <div class="card-body">
                  <h5 class="card-title">@curso.TituloMarketing</h5>
                  <p class="card-text">@curso.Descricao</p>
                </div>
              </div>
        </div>
      }
    </div>
  }
}

  <div class="container">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>